<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Главная страница
        {% endblock %}
    </title>
        {% block extra_head %}
        {% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="auth/login/">Войти</a></li>
                <li><a href="auth/logout">Выйти</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024</p>
    </footer>

    {% block extra_body %}{% endblock %}
</body>
</html>